@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* global styles */

* {
  padding: 0px;
  margin: 0px;
  background-color: #151515;
  color: white;
  font-family: "Quicksand", sans-serif;
}

.btn-primary {
  background-color: #662d91 !important;
  border-style: none !important;
}

.btn-primar:hover {
  background-color: #151515 !important;
}

/* header styles */

.header-div {
  width: 100vw;
  height: 80px;
  background-color: #662d91;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-div h1 {
  background-color: #662d91;
}

.title-text {
  font-size: 2em;
}

.info-text {
  font-size: 1em;
  margin-left: auto;
}

/* input */

.input-div {
  display: "flex-col";
}

/* list */

.todo-item {
  margin: 15px;
}

/* alert messages */

.alert {
  background-color: #151515 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-style: none !important;
  color: white !important;
}

.alert h1 {
  background-color: #151515;
}

/* close out button on messages */ 

.close {
  margin: 5px;
}
