@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* global styles */

* {
  padding: 0px;
  margin: 0px;
  background-color: #151515;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

.btn-primary {
  background-color: #662d91 !important;
  border-style: none !important;
}

.btn-primary:hover {
  background-color: #1f0029 !important;
}

/* header styles */

.header-div {
  width: 100vw;
  height: 80px;
  background-color: #662d91;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-div h1 {
  background-color: #662d91;
}

.title-text {
  font-size: 2em;
}

.info-text {
  font-size: 1em;
  margin-left: auto;
}

/* main area */

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: 500px;
  padding: 25px;
  background-color: rgb(38, 38, 38);
  border-radius: .5em;
}

/* input */

.input-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 38, 38);
}

.input-amount-div {
  background-color: rgb(38, 38, 38);
}

.btn-delete {
  width: 65%;
}

/* list */

.list {
  list-style-type:none;
  width: 100%;
  background-color: rgb(38, 38, 38);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 15px;
  padding: 10px;
  border-radius: .5rem;
  background-color: #662d91;
}

.finished-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 15px;
  padding: 10px;
  border-radius: .5rem;
  background-color: #34164a;
}

.finished-item span {
  text-decoration: line-through;
  background-color: #34164a;
}

.todo-item span {
  background-color: #662d91;
}

.btn-done {
  margin-left: 15px;
}

/* alert messages */

.alert {
  background-color: #151515 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-style: none !important;
  color: white !important;
}

.alert h1 {
  background-color: #151515;
}

/* close out button on messages */ 

.close {
  margin: 5px;
}
